@font-face {
  font-family: 'Source Sans 3';
  src: url('<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">')
    format('truetype');
}

.textarea {
  font-family: 'Source Sans 3', sans-serif;
  width: 300px;
  height: 150px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #e7e6e6;
  resize: vertical;
}

.textarea:focus {
  border-color: #505050;
  transition: border-color 0.5s ease;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.05);
  outline: none;
}

.botao {
  color: #000000;
  padding: 5px 10px;
  border: #cccccc;
  border-radius: 8px;
  background-color: #cccccc;
  display: inline-block;
  margin-left: 5px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 13px;
}
.botao:hover {
  background-color: #c4e4f7;
  transition: background-color 0.3s ease;
  transform: scale(1.05);
}

.saida {
  font-family: 'Calibri', sans-serif;
  font-size: 0.9rem;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
.mensagem {
  opacity: 0;
  margin-left: 10px;
  color: #00c853;
  font-weight: 600;
  transition: opacity 0.3s ease;
  font-family: 'Source Sans 3', sans-serif;
}

.mensagem.visivel {
  opacity: 1;
}
